@font-face {
  font-family: "Rubik-menu";
  src: url(../../fonts/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik-main";
  src: url(../../fonts/static/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik-extra-bold";
  font-size: 50px;
  src: url(../../fonts/static/Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "Rubik-bold";
  src: url(../../fonts/static/Rubik-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../../images/background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 200px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: #144361;
}

a:hover {
  background-color: #fed784;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}

li {
  list-style: none;
}

.df-jc-sb {
  display: flex;
  justify-content: space-between;
}

.df-jc-se {
  display: flex;
  justify-content: space-evenly;
}

.df-jc-c {
  display: flex;
  justify-content: center;
}

.df-ai-c {
  display: flex;
  align-items: center;
}

.df-ai-fe {
  display: flex;
  align-items: flex-end;
}

.main__logo {
  background-color: #fff;
  position: relative;
  height: 10vh;
  margin-top: -20px;
}

.letters {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

header {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 150px;
  background-color: #fff;
}

.header__nav ul {
  width: 100vh;
  margin-left: -30%;
  margin-top: 100px;
  font-family: "Rubik-menu";
  z-index: 1;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  z-index: 2;
}

.main__slogan p {
  font-family: "Rubik-exrtra-bold";
  font-size: 50px;
  font-weight: 700;
  color: #144341;
  letter-spacing: 1vh;
}

.main__button {
  display: flex;
  justify-content: center;
}
.main__button button {
  width: 150px;
  height: 50px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #fed784;
  border: none;
  font-family: "Rubik-main";
  color: #144361;
}
.main__button button:hover {
  color: #fff;
  background-color: #144361;
}

.main__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
}
.main__photos .main__photos-first {
  margin-top: 100px;
}

.footer {
  background-image: url(../../images/background__cloud.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: auto;
  font-family: "Rubik-main";
  padding-top: 170px;
  margin-top: -320px;
  z-index: 5;
}
.footer .footer_right .footer_right-info {
  display: flex;
  flex-direction: column;
}
.footer .footer_right .footer_right-info h2 {
  color: #fed784;
}
.footer .footer_right .footer_right-info button {
  background-color: #fed784;
  color: #144361;
  height: 40px;
  font-family: "Rubok-main";
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .footer_right .footer_right-info button:hover {
  color: #fff;
  background-color: #144361;
}

.header__burger {
  width: 52px;
  height: 52px;
  background-image: url(../../images/horizontal_menu_burger_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 10vh;
  right: 2vh;
  z-index: 999;
}

.header__burger.is__active {
  display: block;
  background-image: url(../../images/cross_icon.svg);
}

.header__nav.is__active {
  display: block;
  grid-gap: 52px;
  z-index: 6;
}

.header__nav-ul.is__active-menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;
  z-index: 5;
}

.header.is__active-background {
  background-color: #fff;
  height: 100vh;
  z-index: 4;
}

.main__ooops {
  display: flex;
  align-items: center;
  height: 80vh;
}

@media (max-width: 1070px) {
  .header__burger {
    display: block;
  }
  .logo {
    margin-top: -6vh;
    margin-left: 20px;
  }
  .header__nav {
    display: none;
  }
  .main__photos-second {
    display: none;
  }
  .main__photos-first {
    margin-bottom: 190px;
  }
}
@media (max-width: 940px) {
  body {
    background-size: 200%;
  }
  .main__photos-first {
    margin-bottom: 170px;
  }
}
@media (max-width: 768px) {
  .main__photos {
    display: none;
  }
  .footer {
    margin-top: -3vh;
  }
}
@media (max-width: 670px) {
  .header__nav.is__active {
    margin-left: -250px;
  }
  .footer__table_small {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 580px) {
  .letters {
    display: none;
  }
  .header__nav.is__active {
    padding-right: 300px;
  }
  .main__slogan p {
    font-size: 25px;
  }
  .main__button button {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #fed784;
    border: none;
    font-family: "Rubik-main";
    color: #144361;
  }
}
@media (max-width: 390px) {
  .header__nav.is__active {
    margin-left: -400px;
  }
}

/*# sourceMappingURL=style.css.map */
