@font-face {
    font-family: 'Rubik-menu';
    src: url(../fonts/static/Rubik-Medium.ttf);
}
@font-face {
    font-family: 'Rubik-main';

    src: url(../fonts/static/Rubik-Light.ttf);
}
@font-face {
    font-family: 'Rubik-extra-bold';
    src: url(../fonts/static/Rubik-ExtraBold.ttf);
}
@font-face {
    font-family: 'Rubik-bold';
    src: url(../fonts/static/Rubik-Bold.ttf);
}