$color-yellow: #fed784;
$color-blue: #144361;
$color-blue2: #144341;
$color-white: #fff;

$breakpoints__desktop:1070px;
$breakpoints__desktop_small:940px;
$breakpoints__table:768px;
$breakpoints__table_small:670px;
$breakpoints__mobile:580px;
$breakpoints__mobile_small:390px;
